<!-- <form action="/named-cat" method="post">
  <div>
    <label for="Name this cat">Name this cat:</label>
    <input type="text" name="name" />
    <input type="submit" id="Submit"/>
  </div>
</form> -->
