<<<<<<< HEAD
<h1> My name is <%= @name %> </h1>
<% if @name ==nil %>
<form action="/named-cat">
    <input type="text" name="name" />
    <input type="submit" id="Submit"/>
</form>
<%end%>
<div style='border: 3px dashed red'>
  <img src='http://bit.ly/1eze8aE'>
=======

<div><h1>My name is <%= @name_sample %></h1></div>
<div>
  <img src='http://bit.ly/1eze8aE' style='border: 1px dashed red'></img>
>>>>>>> 78dc49cefe2171c296f782ffb89a358e2f2c75a9
</div>
